        body {
            font-family: Arial, sans-serif;
            background-color: #5d546f;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 500px;
            margin: 20px auto;
            background-color: #0e0248;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 15px rgba(33, 32, 32, 0.1);
        }
        h2 {
            text-align: center;
            color: #f5e2e2;
        }
        label {
            display: block;
            margin-bottom: 3px;
            color: #c1b0b0;
        }
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 2px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            height: auto;
            font-size: 13px;
        }
        .back-button,button {
            display: inline-block;
            padding: 10px 20px;
            border: none;
            background-color: #4CAF50;
            color: white;
            font-size: 15px;
            text-decoration: none;
            border-radius: 5px;
            margin-left: 80px;
        }
        .back-button,button:hover {
            background-color: #45a049;
        }
