    body {
      font-family: Arial, sans-serif;
      background-color: #ffffffff;
      margin: 0;
      padding: 20px;
    }
    .return a{
      border-radius: 5px;
      background-color:green;
      padding:5px;
      text-decoration: none;
      color:#fff;
    }
    h2 {
      text-align: center; /* Center align the heading */
    }
    table {
      border-collapse: collapse;
      width: 50%;
      margin: 20px auto;
    }
    th, td {
      width: fit-content;
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
    .allocated {
      background-color: #ffcccc; /* Red for allocated slots */
      cursor: pointer;
    }
    .available {
      background-color: #ccffcc; /* Green for available slots */
      cursor: pointer;
    }
    .popup {
      display: none;
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      z-index: 1000;
    }
    .popup input[type="text"] {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }
    .popup button {
      padding: 10px 20px;
      background-color: #450470ff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .popup button.cancel {
      background-color: #f30909ff;
      margin-left: 10px;
    }