        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .container {
            position: relative;
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #1b0a3aff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .top{
            display:flex;
            flex-direction:row;
        }
        .heading{
            /* display:flex; */
            flex-direction:column;
            margin: 2px 50px 5px 10px;
        }
        .logo{
            /* display:flex; */
            flex-direction:column;
            align-items:center;
            justify-content:center;
        }
        .logo img{
            margin:2px 50px 5px 15px;
            height:7rem;
        }
        h2, h3 {
            margin:none;
            text-align: center;
            color: #868686ff;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: 20px 0;
        }
        li {
            margin-bottom: 10px;
        }
        a {
            display: block;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        a:hover {
            background-color: #0056b3;
        }
        /* .logout{
           position: relative;
        } */
        .logout-btn {
            position: absolute;
            top: 10px;
            right: 15px; 
            background-color: #f00a21ff;
            color: #fff;
            padding: 10px 25px;
            border: none;
            border-radius: 15px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }
        .logout-btn:hover {
            background-color: #470f15ff;
        }
        .export-btn {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            background-color: #04310fff;
            color: #fff;
            border: none;
            font-size:15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.5s ease-in-out 0.5s;
        }
        .export-btn:hover {
            background-color: #0ee23cff;
            color:black;
            transform:scale(1.1,1.1)
        }
