        .slideshow {
            position: relative;
            overflow: hidden;
            max-width: 100%;
            animation: fadeInFromLeft 1.5s ease;
        }

        .image__container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            border-radius: 10px;
            box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
            transition: opacity 1s ease-in-out;
        }

        /* Add a class to the visible image container */
        .image__container.active {
            opacity: 1;
        }
