        p {
  background-image: url('../images/1.jpg');
}
body {
            font-family: Arial, sans-serif;
            background-color: #56cdc2;
            margin: 0;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .btn {
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-approve {
            background-color: #4CAF50;
            color: white;
            border: none;
        }

        .btn-deny {
            background-color: #f44336;
            color: white;
            border: none;
        }
